<section id="empresa" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Empresa</h2>
            <p>Nuestro equipo y nuestras instalaciones.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="blog-item-img">
                        <picture>
                            <source srcset="assets/img/empresa/personal-cargando-agua-en-furgoneta.webp" type="image/webp">
                            <source srcset="assets/img/empresa/personal-cargando-agua-en-furgoneta.jpg" type="image/jpeg">
                            <img src="assets/img/empresa/personal-cargando-agua-en-furgoneta.jpg" alt="Personal cargando agua embotellada en la furgoneta">
                        </picture>
                    </div>
                    <div class="blog-item-text">
                        <h3>Vehículos y equipamiento</h3>
                        <p>Poseemos todo lo necesario para distribuir agua embotellada hasta su domicilio.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.6s">
                    <div class="blog-item-img">
                        <picture>
                            <source srcset="assets/img/empresa/personal-subiendo-agua-por-escaleras.webp" type="image/webp">
                            <source srcset="assets/img/empresa/personal-subiendo-agua-por-escaleras.jpg" type="image/jpeg">
                            <img src="assets/img/empresa/personal-subiendo-agua-por-escaleras.jpg" alt="Personal subiendo agua embotellada por las escaleras">
                        </picture>
                    </div>
                    <div class="blog-item-text">
                        <h3>La Empresa</h3>
                        <p>Servipau S.L. es una empresa de transporte con 25 años al servicio de nuestros clientes.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 blog-item">
                <div class="blog-item-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <div class="blog-item-img">
                        <picture>
                            <source srcset="assets/img/empresa/tienda-de-agua-embotellada.webp" type="image/webp">
                            <source srcset="assets/img/empresa/tienda-de-agua-embotellada.jpg" type="image/jpeg">
                            <img src="assets/img/empresa/tienda-de-agua-embotellada.jpg" alt="Foto de la tienda del agua">
                        </picture>
                    </div>
                    <div class="blog-item-text">
                        <h3>Nuestras instalaciones</h3>
                        <p>Disponemos de almacén con seguro de mercancías y cámaras de seguridad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
