<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-11">
                <div class="footer-logo">
                    <img src="assets/img/la-tienda-del-agua-logo.png" alt="Logo de La Tienda del Agua">
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1">
                <div class="social-icon text-center">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/latiendadelagua"
                       title="Enlace a la página de Facebook">
                        <img alt="Facebook icon"
                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOSA4aC0zdjRoM3YxMmg1di0xMmgzLjY0MmwuMzU4LTRoLTR2LTEuNjY3YzAtLjk1NS4xOTItMS4zMzMgMS4xMTUtMS4zMzNoMi44ODV2LTVoLTMuODA4Yy0zLjU5NiAwLTUuMTkyIDEuNTgzLTUuMTkyIDQuNjE1djMuMzg1eiIvPjwvc3ZnPg==">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <p class="float-right">Designed by <a href="http://uideck.com" title="Enlace a los diseñadores" rel="nofollow">UIdeck</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <p class="float-right"><a href="https://www.servipau.com/" title="Enlace a la web de Grupo Servipau">Grupo SERVIPAU</a></p>
            </div>
        </div>
    </div>
</div>