<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-11">
                <div class="footer-logo">
                    <img src="assets/img/la-tienda-del-agua-logo.png" alt="La tienda del agua Logo">
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1">
                <div class="social-icon text-center">
                    <a class="facebook" href="https://www.facebook.com/latiendadelagua"><i class="lni-facebook-filled"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <p class="float-right">Designed by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <p class="float-right"><a href="https://www.servipau.com/" rel="nofollow">Grupo SERVIPAU</a></p>
            </div>
        </div>
    </div>
</div>