<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <a href="/" class="navbar-brand" title="Enlace logo de La Tienda del Agua"><img
                src="assets/img/la-tienda-del-agua-logo.png" alt="Logo de La Tienda del Agua"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M14 19h-14v-1h14v1zm9.247-8.609l-3.247 4.049-3.263-4.062-.737.622 4 5 4-5-.753-.609zm-9.247 2.609h-14v-1h14v1zm0-6h-14v-1h14v1z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="active">
                    <a class="nav-link" href="#inicio" title="Ir a Inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#servicio" title="Ir a Servicio">
                        Servicio
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#productos" title="Ir a Productos">
                        Productos
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#empresa" title="Ir a Empresa">
                        Empresa
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#contacto" title="Ir a Contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>