<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <a href="/" class="navbar-brand" title="Enlace logo de La Tienda del Agua"><img
                src="assets/img/la-tienda-del-agua-logo.png" alt="Logo de La Tienda del Agua"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <img alt="Menu icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNCAxOWgtMTR2LTFoMTR2MXptOS4yNDctOC42MDlsLTMuMjQ3IDQuMDQ5LTMuMjYzLTQuMDYyLS43MzcuNjIyIDQgNSA0LTUtLjc1My0uNjA5em0tOS4yNDcgMi42MDloLTE0di0xaDE0djF6bTAtNmgtMTR2LTFoMTR2MXoiLz48L3N2Zz4=">
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                <li class="active">
                    <a class="nav-link" href="#inicio" title="Ir a Inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#servicio" title="Ir a Servicio">
                        Servicio
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#productos" title="Ir a Productos">
                        Productos
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#empresa" title="Ir a Empresa">
                        Empresa
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#contacto" title="Ir a Contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>