<div id="servicio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">
                            ¿En qué consiste nuestro servicio?
                        </h2>
                        <p class="mb-4">
                            Repartimos agua embotellada de las mejores marcas directamente a tu domicilio.
                            <br>
                            Olvídese de cargar con ese peso.
                        </p>
                        <a href="#productos" class="btn btn-common">Ver todas las aguas</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
                <div class="feature-thumb">
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="icon">
                            <i class="lni-car"></i>
                        </div>
                        <div class="feature-content">
                            <h3>Entrega gratuita</h3>
                            <p>
                                Disfruta de entraga gratuita en Elda y Petrer.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="icon">
                            <i class="lni-phone"></i>
                        </div>
                        <div class="feature-content">
                            <h3>Atención teléfonica</h3>
                            <p>
                                Nuestro equipo del atenderá y recogerá sus pedidos en el <strong>96 537 19 62</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <div class="icon">
                            <i class="lni-emoji-smile"></i>
                        </div>
                        <div class="feature-content">
                            <h3>Sin coutas</h3>
                            <p>
                                Disfruta el mejor agua embotellada a domicilio sin coutas mensuales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>