<div id="servicio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="text-wrapper">
                    <div>
                        <h1 class="title-hl wow fadeInDown" data-wow-delay="0.3s">
                            ¡Bienvenido a La Tienda Del Agua!
                        </h1>
                        <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.6s">
                            ¿En qué consiste nuestro servicio?
                        </h2>
                        <p class="mb-4 wow fadeInRight" data-wow-delay="0.9s">
                            Repartimos agua embotellada de las mejores marcas directamente a tu domicilio.
                            <br>
                            Olvídese de cargar con ese peso.
                        </p>
                        <a href="#productos" class="btn btn-common wow fadeInUp" title="Ir a Productos" data-wow-delay="1.2s">
                            Ver todas las aguas
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
                <div class="feature-thumb">
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="icon">
                            <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                 clip-rule="evenodd" style="margin-top: 15px;margin-left: 5px;">
                                <g transform="scale(2)">
                                    <path d="M3 18h-2c-.552 0-1-.448-1-1v-13c0-.552.448-1 1-1h13c.552 0 1 .448 1 1v2h4.667c1.117 0 1.6.576 1.936 1.107.594.94 1.536 2.432 2.109 3.378.188.312.288.67.288 1.035v4.48c0 1.089-.743 2-2 2h-1c0 1.656-1.344 3-3 3s-3-1.344-3-3h-6c0 1.656-1.344 3-3 3s-3-1.344-3-3zm3-1.2c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm12 0c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm-3-2.8h-13v2h1.765c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h7.53c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h1.765v-4.575l-1.711-2.929c-.179-.307-.508-.496-.863-.496h-4.426v6zm-2-9h-11v7h11v-7zm3 4v3h5l-1.427-2.496c-.178-.312-.509-.504-.868-.504h-2.705z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="feature-content">
                            <h3>Entrega gratuita</h3>
                            <p>
                                Disfruta de entraga gratuita en Elda y Petrer.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
                                 style="margin-top: 15px;">
                                <g transform="scale(0.9)">
                                    <path d="M9.762 1.322l2.843-1.322 4.041 7.89-2.725 1.341c-.537 1.259 2.159 6.289 3.297 6.372.09-.058 2.672-1.328 2.672-1.328l4.11 7.933s-2.764 1.354-2.854 1.396c-7.861 3.59-19.101-18.259-11.384-22.282zm1.929 1.274l-1.023.504c-5.293 2.762 4.178 21.185 9.648 18.686l.972-.474-2.271-4.383-1.026.5c-3.163 1.547-8.262-8.219-5.055-9.938l1.007-.497-2.252-4.398zm-.759 18.382c-1.474 1.442-3.914 1.708-4.604.522-.47-.809-.311-1.728-.127-2.793.201-1.161.429-2.478-.295-3.71-1.219-2.077-3.897-1.983-5.906-.671l.956 1.463c.829-.542 1.784-.775 2.493-.609 1.653.388 1.151 2.526 1.03 3.229-.212 1.223-.45 2.61.337 3.968 1.331 2.294 5.054 2.047 7.29-.091-.397-.407-.789-.84-1.174-1.308z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="feature-content">
                            <h3>Atención teléfonica</h3>
                            <p>
                                Nuestro equipo del atenderá y recogerá sus pedidos en el
                                <strong><a href="{{ site.phone_link }}" title="Llamar por teléfono" style="color:#fff">{{ site.phone_text }}</a></strong>.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" style="margin-top: 15px">
                                <g transform="scale(2)">
                                    <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.508 13.941c-1.513 1.195-3.174 1.931-5.507 1.931-2.335 0-3.996-.736-5.509-1.931l-.492.493c1.127 1.72 3.2 3.566 6.001 3.566 2.8 0 4.872-1.846 5.999-3.566l-.492-.493zm-9.008-5.941c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5zm9.5 2.002l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="feature-content">
                            <h3>Sin cuotas</h3>
                            <p>
                                Disfruta el mejor agua embotellada a domicilio sin cuotas mensuales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>