<div id="servicio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 text-wrapper">
                <h1 class="wow fadeInDown" data-wow-delay="0.3s">
                    ¡Bienvenido a La Tienda Del Agua!
                </h1>
                <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.6s">
                    ¿En qué consiste nuestro servicio?
                </h2>
                <p class="mb-4 wow fadeInRight" data-wow-delay="0.9s">
                    Repartimos agua embotellada de las mejores marcas directamente a tu domicilio.
                    <br>
                    Olvídese de cargar con ese peso, deje que nuestro equipo de La Tienda Del Agua se haga cargo.
                </p>
                <a href="#productos" class="btn btn-common wow fadeInUp" title="Ir a Productos"
                   data-wow-delay="1.2s">
                    Ver todas las aguas
                </a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
                <div class="feature-thumb">
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="icon">
                            <img alt="Truck icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAADFBMVEUAAABHcEwBAQEEBASKaeN0AAAABHRSTlP/AJ03EcQxMwAAAIdJREFUKM+t0iEOAyEURdEbCGLEyC4BUVHZfSDmpchZAktgE90PS6v4JPNFRRP6xE2OIYSA3FjGACAa5pZRIHtsHtGDC+nV3xc0ng5nciibQ40OR/BHs475Sl/w80KfDcDesEYGuQLkygOVXJOsqOwtyYpq6FlWdMBNViS7EkhI7S5Z+esP+QBl92HAr08+RAAAAABJRU5ErkJggg==">
                        </div>
                        <div class="feature-content">
                            <h3>Entrega gratuita</h3>
                            Disfruta de entrega gratuita en Elda y Petrer.
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="icon">
                            <img alt="Phone icon" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik04LjI2IDEuMjg5bC0xLjU2NC43NzJjLTUuNzkzIDMuMDIgMi43OTggMjAuOTQ0IDkuMzEgMjAuOTQ0LjQ2IDAgLjkwNC0uMDk0IDEuMzE3LS4yODRsMS41NDItLjc1NS0yLjg5OC01LjU5NC0xLjU0Ljc1NGMtLjE4MS4wODctLjM4NC4xMzQtLjU5Ny4xMzQtMi41NjEgMC02Ljg0MS04LjIwNC00LjI0MS05LjU5NmwxLjU0Ni0uNzYzLTIuODc1LTUuNjEyem03Ljc0NiAyMi43MTFjLTUuNjggMC0xMi4yMjEtMTEuMTE0LTEyLjIyMS0xNy44MzIgMC0yLjQxOS44MzMtNC4xNDYgMi40NTctNC45OTJsMi4zODItMS4xNzYgMy44NTcgNy4zNDctMi40MzcgMS4yMDFjLTEuNDM5Ljc3MiAyLjQwOSA4LjQyNCAzLjk1NiA3LjY4bDIuMzk5LTEuMTc5IDMuODE2IDcuMzZzLTIuMzYgMS4xNjItMi40NzYgMS4yMTVjLS41NDcuMjUxLTEuMTI5LjM3Ni0xLjczMy4zNzYiLz48L3N2Zz4=">
                        </div>
                        <div class="feature-content">
                            <h3>Atención teléfonica</h3>
                            Nuestro equipo le atenderá y tomará sus pedidos en el
                            <a href="{{ site.phone_link }}" title="Llamar por teléfono">
                                {{ site.phone_text }}
                            </a>.
                        </div>
                    </div>
                    <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <div class="icon">
                            <img alt="Smile icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem01LjUwOCAxMy45NDFjLTEuNTEzIDEuMTk1LTMuMTc0IDEuOTMxLTUuNTA3IDEuOTMxLTIuMzM1IDAtMy45OTYtLjczNi01LjUwOS0xLjkzMWwtLjQ5Mi40OTNjMS4xMjcgMS43MiAzLjIgMy41NjYgNi4wMDEgMy41NjYgMi44IDAgNC44NzItMS44NDYgNS45OTktMy41NjZsLS40OTItLjQ5M3ptLTkuMDA4LTUuOTQxYy0uODI4IDAtMS41LjY3MS0xLjUgMS41cy42NzIgMS41IDEuNSAxLjUgMS41LS42NzEgMS41LTEuNS0uNjcyLTEuNS0xLjUtMS41em05LjUgMi4wMDJsLS43NTUuNTA2cy0uNTAzLS45NDgtMS43NDYtLjk0OGMtMS4yMDcgMC0xLjc0NS45NDgtMS43NDUuOTQ4bC0uNzU0LS41MDZjLjI4MS0uNzQ4IDEuMjA1LTIuMDAyIDIuNDk5LTIuMDAyIDEuMjk1IDAgMi4yMTggMS4yNTQgMi41MDEgMi4wMDJ6Ii8+PC9zdmc+">
                        </div>
                        <div class="feature-content">
                            <h3>Sin cuotas</h3>
                            Disfruta del mejor agua embotellada a domicilio sin cuotas mensuales.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>