#empresa {
  .blog-item-wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .blog-item-wrapper:hover .blog-item-img:before {
    opacity: 1;
    height: 100%;
    width: 100%;
  }

  .blog-item-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    img {
      width: 100%;
    }
  }

  .blog-item-text {
    padding: 20px;

    h3 {
      font-size: 15px;
      font-weight: 600;
      display: block;
      text-transform: uppercase;
      &:hover {
        color: $preset;
      }
    }

    p {
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
}