/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #inicio .contents .head-title {
    font-size: 40px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .title-hl {
    font-size: 30px;
  }
}

/* tablets */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 14px;
  }
  .services-item {
    margin-bottom: 20px;
  }
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .services-item .services-content h3 a {
    font-size: 16px;
  }
  .bg-inverse {
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 13px;
    padding: 0px 3px;
  }
  .title-hl {
    font-size: 30px;
  }
  .text-wrapper {
    padding: 60px 30px;
  }
  #empresa .blog-item-wrapper {
    margin-bottom: 30px;
  }
  .contact-right-area {
    margin-top: 0px;
    margin-left: 0px;
  }
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-padding {
    padding: 50px 0;
  }
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .title-hl {
    font-size: 30px;
  }
  .bg-inverse {
    padding: 0 15px;
    background: #fff !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0px 15px;
  }
  #inicio .contents {
    padding: 100px 0px 60px 0px;
  }
  #inicio .contents .head-title {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  #inicio .contents p {
    font-size: 18px;
  }
  #inicio .contents .btn {
    margin: 5px 10px 10px 0px;
  }
  .text-wrapper {
    padding: 60px 15px;
  }
  .feature-thumb {
    padding: 10px;
  }
  #empresa .blog-item-wrapper {
    margin-bottom: 30px;
  }
  .footer-right-contact .single-contact {
    margin: 10px 7px;
    padding: 3px 45px;
  }
  .contact-right-area {
    margin: 20px 0;
  }
  .contact-form-area strong {
    font-size: 14px;
  }
}