.feature-bg {
  background: $preset;
}

.text-wrapper {
  height: 100%;
  display: table;
  padding-left: 140px;
  padding-top: 120px;

  > div {
    vertical-align: middle;
    display: table-cell;
  }
}

.feature-thumb {
  padding: 40px 0;
}

.feature-item {
  padding: 30px;

  .icon {
    float: left;
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;

    img {
      width: 48px;
      height: 48px;
      margin-top: 15px;
    }
  }
}

.feature-content {
  color: #fff;
  margin-left: 100px;

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
  }
}

.feature-item:hover .icon {
  background: #fff;

  i {
    color: $preset;
  }
}







