<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>

{% include navbar.html %}

{{ content }}

{% include footer.html %}

<a href="#" class="back-to-top" title="Volver al arriba">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" style="margin-top: 8px;">
        <path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/>
    </svg>
</a>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script data-cfasync="false" type="text/javascript" src="assets/js/jquery-min.js"></script>
<script data-cfasync="false" type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script data-cfasync="false" type="text/javascript" src="assets/js/wow.js"></script>
<script data-cfasync="false" type="text/javascript" src="assets/js/jquery.nav.js"></script>
<script data-cfasync="false" type="text/javascript" src="assets/js/main.js"></script>
<script data-cfasync="false" type="text/javascript" src="assets/js/contact-form-submission-handler.js"></script>

</body>
</html>
